
<h2><%=@artist.name%></h2>
<ul>
  <li>Songs:</li>
  <ul>
    <%@artist.songs.each do |x| %>
      <li><a href="/songs/<%=x.slug%>"><%=x.name%></a></li>
        <%end%>
  </ul>
  <li>Genres:</li>
  <ul>
  <%@artist.genres.each do |x| %>
    <li><a href="/genres/<%= x.slug %>"><%= x.name%></a></li>
      <%end%>
  </ul>
</ul>
